<header class="main__header header">
  <div class="header__container">
    <nav class="main__nav nav">
      <ul class="nav__list">
        <li class="nav__list-item">
          <a href="#" class="logo"></a>
          <a href="#" class="link-to-main">ИГРУШКИ</a>
          <a href="#" class="link-to-tree">ЁЛКА</a>
        </li>
        <li class="nav__list-item">
          <input type="search" class="search" />
          <div class="counter">
            <span>0</span>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
