.footer__container {
  width: 100%;
  height: 70px;
  padding: 5px 15px;
  color: #fff;
  max-width: 1600px;
  margin: 0 auto;
}
.year {
  margin: 0 30px;
}
.git-link {
  transition: ease all 0.3s;
}
.rs-link {
  background: url("/assets/svg/rss.svg");
  width: 160px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: ease all 0.3s;
}
