<div class="card-container">
  <div class="card">
    <h2 class="card__title">Большой шар с рисунком</h2>
    <img class="card__pic" src="assets/toys/1.png" alt="toy" />
    <div class="card__desc">
      <p class="card__desc__count">
        Количество:
        <span>2</span>
      </p>
      <p class="card__desc__year">
        Год покупки:
        <span>1960</span>
      </p>
      <p class="card__desc__shape">
        Форма:
        <span>шар</span>
      </p>
      <p class="card__desc__color">
        Цвет:
        <span>желтый</span>
      </p>
      <p class="card__desc__size">
        Размер:
        <span>большой</span>
      </p>
      <p class="card__desc__favourite">
        Любимая:
        <span>нет</span>
      </p>
    </div>
    <div class="card__stripe"></div>
  </div>
</div>
