<div class="card-container">
  <div class="card" *ngFor="let toy of toysList">
    <h2 class="card__title">{{ toy.name }}</h2>
    <img class="card__pic" src="{{ toy.imgUrl }}" alt="toy" />
    <div class="card__desc">
      <p class="card__desc__count">
        Количество:
        <span>{{ toy.count }}</span>
      </p>
      <p class="card__desc__year">
        Год покупки:
        <span>{{ toy.year }}</span>
      </p>
      <p class="card__desc__shape">
        Форма:
        <span>{{ toy.shape }}</span>
      </p>
      <p class="card__desc__color">
        Цвет:
        <span>{{ toy.color }}</span>
      </p>
      <p class="card__desc__size">
        Размер:
        <span>{{ toy.size }}</span>
      </p>
      <p class="card__desc__favourite">
        Любимая:
        <span>{{ toy.favorite }}</span>
      </p>
    </div>
    <div class="card__stripe"></div>
  </div>
</div>
