<main class="main__content content">
  <div class="container">
    <div class="controll">
      <div class="controll__by-value">
        <div class="controll__title">фильтры по значению</div>
        <div class="controll__shape">
          Форма:
          <div
            (click)="changeShape('ball')"
            class="shape-type-1 shape"
            [ngClass]="{ 'shape-active': isShapeSelected('ball') }"
          ></div>
          <div
            (click)="changeShape('bell')"
            class="shape-type-2 shape"
            [ngClass]="{ 'shape-active': isShapeSelected('bell') }"
          ></div>
          <div
            (click)="changeShape('cone')"
            class="shape-type-3 shape"
            [ngClass]="{ 'shape-active': isShapeSelected('cone') }"
          ></div>
          <div
            (click)="changeShape('snowflake')"
            class="shape-type-4 shape"
            [ngClass]="{ 'shape-active': isShapeSelected('snowflake') }"
          ></div>
          <div
            (click)="changeShape('figure')"
            class="shape-type-5 shape"
            [ngClass]="{ 'shape-active': isShapeSelected('figure') }"
          ></div>
        </div>
        <div class="controll__color">
          Цвет:
          <div
            (click)="changeColor('white')"
            class="color-type-1 color"
            [ngClass]="{ 'color-active': isColorSelected('white') }"
          ></div>
          <div
            (click)="changeColor('yellow')"
            class="color-type-2 color"
            [ngClass]="{ 'color-active': isColorSelected('yellow') }"
          ></div>
          <div
            (click)="changeColor('red')"
            class="color-type-3 color"
            [ngClass]="{ 'color-active': isColorSelected('red') }"
          ></div>
          <div
            (click)="changeColor('blue')"
            class="color-type-4 color"
            [ngClass]="{ 'color-active': isColorSelected('blue') }"
          ></div>
          <div
            (click)="changeColor('green')"
            class="color-type-5 color"
            [ngClass]="{ 'color-active': isColorSelected('green') }"
          ></div>
        </div>
        <div class="controll__size">
          Размер:
          <div
            (click)="changeSize('big')"
            class="size-type-1 size"
            [ngClass]="{ 'shape-active': isSizeSelected('big') }"
          ></div>
          <div
            (click)="changeSize('medium')"
            class="size-type-2 size"
            [ngClass]="{ 'shape-active': isSizeSelected('medium') }"
          ></div>
          <div
            (click)="changeSize('small')"
            class="size-type-3 size"
            [ngClass]="{ 'shape-active': isSizeSelected('small') }"
          ></div>
        </div>
        <div class="controll__favourite">
          Только любимые:
          <div class="favourite-group">
            <input
              type="checkbox"
              name="fav"
              id="fav"
              class="favourite-input"
            />
            <label for="fav" class="favourite-label"></label>
          </div>
        </div>
      </div>
      <div class="controll__by-range">
        <div class="controll__title">фильтры по диапазону</div>
        <div class="controll__subtitle">Количество экземпляров:</div>
        <div class="controll__by-range__range-group">
          <div class="range-min" id="count-mix">1</div>
          <input
            [(ngModel)]="inputValue"
            [ngClass]="{
              'range-line--blue': true
            }"
            type="range"
            name="count"
            id="count"
            min="1"
            max="12"
            step="1"
            class="range-line"
          />
          <div class="range-max" id="count-max">{{ inputValue }}</div>
        </div>
        <div class="controll__subtitle">Год приобретения:</div>
        <div class="controll__by-range__range-group">
          <div class="year-min" id="year-min">1940</div>
          <input
            type="range"
            name="year"
            id="year"
            min="1940"
            max="2020"
            step="10"
            class="range-line"
          />
          <div class="year-max" id="year-max">2020</div>
        </div>
      </div>
      <div class="controll__sort">
        <div class="controll__title">сортировка</div>
        <select name="sort-selector" id="sort-selector" class="sort-selector">
          <option value="name-min-to-max">По названию от "А" до "Я"</option>
          <option value="name-max-to-min">По названию от "Я" до "А"</option>
          <option value="count-min-to-max">По количеству по возрастанию</option>
          <option value="count-max-to-min">По количеству по убыванию</option>
        </select>
        <button class="reset-btn">Сброс фильтров</button>
      </div>
    </div>
  </div>
  <app-card></app-card>
</main>
