/* You can add global styles to this file, and also import other style files */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

body {
  height: 100%;
  background-color: #192f2d;
  font-size: 16px; /*указать в каждом из проектов отдельно*/
  color: #fff; /*указать в каждом из проектов отдельно*/
  margin: 0;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
